name: Metrics
on:
  # Schedule updates per hour
  schedule:
    - cron: "0 0 * * *"
  # (optional) Run workflow manually
  workflow_dispatch:
  # (optional) Run workflow when pushing on master/main
  push:
    branches:
      - master
      - main
jobs:
  #generate the left picture
  github-left-metrics:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: left
        # use the official generator
        uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}

          # the file this action generates
          filename: metrics-left.svg
          config_timezone: Europe/Copenhagen
          # config_timezone: Asia/Shanghai

          template: classic
          base: header, activity, community, repositories, metadata

          # coding habit
          plugin_habits: yes
          plugin_habits_facts: no
          plugin_habits_charts: yes

          # opened by the user
          plugin_followup: yes
          plugin_followup_sections: user

          # isocalendar
          plugin_isocalendar: yes

          # activity
          plugin_activity: yes
          plugin_activity_limit: 5
          plugin_activity_days: 0
          plugin_activity_filter: issue, pr, release, fork, review, ref/create

  github-right-metrics:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: right
        # uses: lowlighter/metrics@latest
        uses: oddstr13/github-profile-metrics@odd-choices
        with:
          use_prebuilt_image: no
        # the above is to fix committer problem from https://github.com/lowlighter/metrics/pull/1754
          #disable the basic metrics
          base: ""
          token: ${{ secrets.METRICS_TOKEN }}
          filename: metrics-right.svg
          # config_timezone: Europe/Copenhagen
          config_timezone: Asia/Shanghai

          # language analysis
          plugin_languages: yes
          plugin_languages_ignored: html, css, tex, less, dockerfile, makefile, qmake, lex, cmake, shell, gnuplot, javascript
          plugin_languages_indepth: yes
          # plugin_languages_indepth_custom: 15-440/p1-15440-f25-orz, 15-440/p2-15440-f25-stormckey, 15-440/p0-15440-f25-stormckey
          plugin_languages_aliases: Jupyter Notebook:Ipynb
          plugin_languages_sections: recently-used, most-used
          plugin_languages_details: lines, percentage
          plugin_languages_recent_days: 90
          plugin_languages_recent_load: 600
          plugin_languages_limit: 8

          plugin_anilist: yes
          plugin_anilist_user: stormckey
          plugin_anilist_sections: favorites, characters

          plugin_steam_token: ${{ secrets.STEAM_TOKEN }}
          plugin_steam: yes
          plugin_steam_user: "76561198403743308"
          plugin_steam_sections: player, most-played, recently-played
          plugin_steam_achievements_limit: 0
