name: Metrics
on:
  # Schedule updates per hour
  schedule: [{cron: "0 * * * *"}]
  # (optional) Run workflow manually
  workflow_dispatch:
  # (optional) Run workflow when pushing on master/main
  push: {branches: ["master", "main"]}
jobs:
  #generate the left picture 
  github-left-metrics:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: left
        # use the official generator
        uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}
          
          # the file this action generates
          filename: matrics-left.svg
          config_timezone: Asia/Shanghai
          
          
          # enable plugins
          plugin_followup: yes
          
          
          plugin_languages: yes
          # repositories that want be accounted
#           plugin_languages_indepth_custom: stormckey/stormckey.github.io
#          plugin_languages_skipped: stormckey/dotfiles
          plugin_languages_indepth: yes
          plugin_languages_analysis_timeout: 60
          commits_authoring: stormckey@chenhaogao123@gmail.com, stormckey@3210106354@zju.edu.cn, stromckey@sortygraph.gmail.com
          plugin_languages_ignored: html, css, ruby, perl, javascript, yacc
          # show the size of source code and percentage of each language
          plugin_languages_details: lines, percentage
          
          
          plugin_starlists: yes
          plugin_starlists_languages: yes
          
          
          config_order: followup, languages, starlists
          
  github-right-metrics:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: right
        uses: lowlighter/metrics@latest
        with:
          #disable the basic metrics 
          base: ""
          token: ${{ secrets.METRICS_TOKEN }}
          filename: matrics-right.svg
          config_timezone: Asia/Shanghai
          
          plugin_topics: yes
          plugin_topics_mode: icons
          
          
          plugin_isocalendar: yes
          
          
          plugin_anilist: yes
          plugin_anilist_user: stormckey
          plugin_anilist_sections: favorites, characters
          
          
          config_order: topics, isocalendar, anilist
          
          
